<nav class="navbar bg-dark">
<div class="container">
    <h2>Angular crud Operation</h2>
</div>
<div class="d-flex">
    <button class="btn btn-success" (click)="openModel()">Add Employee</button>
</div>
</nav>

  
  <!-- Modal -->
    <div class="modal" id="employeeFormModal" #employeeFormModal>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header modal-hf">
          <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">{{isShowadd ? 'ADD':'UPDATE'}} EMPLOYEE DATA</h1>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="employeeform">
                <div class="mb-3">
                  <label for="name" class="col-form-label">Name:</label>
                  <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
                </div>
                <div class="mb-3">
                  <label for="email" class="col-form-label">Email:</label>
                  <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
                </div>
                <div class="mb-3">
                    <label for="city" class="col-form-label">City:</label>
                    <input type="text" class="form-control" placeholder="Enter city" formControlName="city">
                 </div>
                <div class="mb-3">
                    <label for="pincode" class="col-form-label">Pincode:</label>
                    <input type="number"  min="0" class="form-control" placeholder="Enter pincode" formControlName="pincode">
                </div>
                <div class="mb-3">
                    <label for="phonenumber"  class="col-form-label">Phone #:</label>
                    <input type="number"  min="0" class="form-control" placeholder="Enter phonenumber" formControlName="phonenumber">
                </div>
              </form>
        </div>
        <div class="modal-footer modal-hf">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Cancel</button>
          <button *ngIf="isShowadd"   type="button" class="btn btn-success" [disabled]="this.employeeform.invalid" (click)="onFormSubmit(this.employeeform.value)">Add</button>
          <button *ngIf="!isShowadd" type="button" class="btn btn-primary" [disabled]="this.employeeform.invalid" (click)="onFormUpdate(this.employeeform.value)">Update</button>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div class="container-fluid mt-3">
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">City</th>
          <th scope="col">Pincode</th>
          <th scope="col">Phone number</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.city}}</td>
            <td>{{item.pincode}}</td>
            <td>{{item.phonenumber}}</td>
        <td> 
            <button class="btn btn-warning" (click)="onOpenModifyModel(item)">Edit</button> |
            <button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>
        </td>
        </tr>
      </tbody>
</table>
    </div>
  </section>